*{
    font-family: "Raleway", sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards1{
    margin-top: 85px;
    width: 730px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.cards2{
    margin-top: 85px;
    width: 1110px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.card{
   padding: 20px 20px 30px 20px;
   background-color: #E1EDE6;
   display: flex;
   flex-direction: column;
   width: fit-content;
}
.card-photo{
   width: 310px;
   height: 422px;
   margin-bottom: 20px;
}
.author{
   color: #86928B;
   font-weight: 500;
   font-size: 18px;
   line-height: 100%;
   margin-bottom: 10px;
}
.art-title{
   color: #2C2D35;
   font-weight: 500;
   font-size: 30px;
   line-height: 100%;
   margin-bottom: 8px;
}
.structure{
   color: #2C2D35;
   font-weight: 500;
   font-size: 18px;
   line-height: 100%;
   margin-bottom: 30px;
}
.price{
   color: #598D66;
   font-weight: 500;
   font-size: 24px;
   line-height: 100%;
   margin-bottom: 20px;
}
.btn{
   padding: 20px 60px;
   color: #598D66;
   background-color: transparent;
   border: 1px solid #598D66;
   font-weight: 500;
   font-size: 20px;
   line-height: 100%;
   cursor: pointer;
}
.btn:hover{
   background-color: #598D66;
   color: #F4F6F5;
}
.btn:focus{
   background-color: #D4E8D9;
}
.btn:active{
   background-color: #376B44;
   color: #FFFFFF;
}